/* adjusting the built-in theme */

/* calendar event */
.calendar_default_event_inner {
  background: #2e78d6;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 10pt;
  padding: 5px;
  opacity: 0.8;
}

.event_title {
  font-size: 11pt;
  font-weight: bold;
  width: 100%;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event_organizer {
  font-size: 8pt;
  font-weight: normal;
  width: 100%;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event_place {
  font-size: 8pt;
  font-weight: normal;
  width: 100%;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
