i.glyph {
  font-family: "Swizi-Glyphicons";
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1rem;
  text-transform: none;
  // line-height: 1em;
  vertical-align: sub;
  user-select: none;
}
